<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.todo_app.mb_example.todo_mapper.TodoMapper">

<select id="selectTodoById" parameterType="int" resultType="com.cc.todo_app.mb_example.todo.Todo">
	SELECT 
		todo_id AS todoId, 
		todo_name AS todoName, 
		todo_description AS todoDescription 
	FROM 
		todo 
	WHERE 
		todo_id = #{id}
</select>

<select id="selectTodoByName" parameterType='String' resultType="com.cc.todo_app.mb_example.todo.Todo">
	SELECT 
		todo_id AS todoId, 
		todo_name AS todoName, 
		todo_description AS todoDescription
	FROM 
		todo
	WHERE
		todo_name = #{name}
</select>

<select id="selectAllTodo" resultType="com.cc.todo_app.mb_example.todo.Todo">
	SELECT 
		todo_id AS todoId, 
		todo_name AS todoName, 
		todo_description AS todoDescription
	FROM 
		todo
</select>

</mapper>
